<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>Prueba ITop</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body>

	<div class="p-5">
		<h2>Prueba ITop - Busqueda DNI</h2>
		<hr>
		<form>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-dni">DNI</span>
				</div>
				<input type="text" class="form-control" aria-describedby="basic-dni" id="input_dni">
			</div>
			<div class="row">
				<div class="col">
					<div id="correct" class="btn-outline-success text-center">DNI valido</div>
					<div id="incorrect" class="btn-outline-danger text-center">DNI invalido</div>
				</div>
				<div class="col"></div>
				<div class="col">
					<button type="submit" class="btn btn-outline-info" id="ask_dni">Subir dni</button>
				</div>
			</div>
			<div id="list" class="my-2"></div>			
		</form>

	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<script src="../js/dni.js"></script>

</body>

</html>